In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [9]:
# get list of all csv file
DIR_NAME = "rod_pump"
file_names = [f for f in listdir(DIR_NAME) if isfile(join(DIR_NAME, f))]

In [10]:
# create a list of dataframes for each csv file in ./rod_pump
# then concat to create master dataframe
df_list = []
files_names = file_names[0:1]
for file in file_names:
    df = pd.read_csv(f'rod_pump/{file}')
    # make sure name of csv is included
    df['Name'] = file.replace('.csv', '')
    df_list.append(df)

df = pd.concat(df_list)

In [11]:
df.head()

,Casing Pressure (psi),Tubing Pressure (psi),Pump Fillage (%),Percent Run (%),Peak Load (lbs),Minimum Load (lbs),Fluid Load (lbs),time (hours),Name
0,7380.755177,5960.510103,0.388265,100.0,12621.207431,5505.970221,6564.747336,0,Burger 9-180H
1,5564.319788,5297.299459,46.412075,100.0,13306.254086,6357.868538,6087.242078,1,Burger 9-180H
2,4945.969308,4822.684374,63.184421,100.0,14103.514407,6733.460638,5778.624402,2,Burger 9-180H
3,6310.765133,4854.125174,19.977812,100.0,3233.954584,8798.191166,5348.242919,3,Burger 9-180H
4,4767.994821,4304.190786,37.537420,100.0,1976.671075,10332.132859,4835.977321,4,Burger 9-180H

In [12]:
df.shape

(10244, 9)