In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("./df.pkl")

In [3]:
df

,Casing Pressure (psi),Tubing Pressure (psi),Pump Fillage (%),Percent Run (%),Peak Load (lbs),Minimum Load (lbs),Fluid Load (lbs),time (hours),Name,failing
0,6279.591247,5638.854184,14.453159,100.0,9623.980208,7715.133166,6610.604819,0,Federal 12-117H,0
1,5671.026310,5093.302458,26.132123,100.0,1608.183423,12018.912662,6012.466873,1,Federal 12-117H,0
2,6151.434620,5035.725050,43.510109,100.0,3294.163547,10309.856895,5424.490385,2,Federal 12-117H,0
3,5220.438746,5036.170315,48.348392,100.0,11370.870514,5802.936871,4861.166756,3,Federal 12-117H,0
4,4803.461611,4640.012420,72.258257,100.0,6797.139157,7258.106140,4314.398761,4,Federal 12-117H,0
...,...,...,...,...,...,...,...,...,...,...
43686,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,43686,Sundae 10-202H,0
43687,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,43687,Sundae 10-202H,0
43688,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,43688,Sundae 10-202H,0
43689,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,43689,Sundae 10-202H,0
43690,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,43690,Sundae 10-202H,0