In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("conoco_data.csv")

In [4]:
df.columns = ['id', 'status', 'depth', 'rodstring_length', 'tubing_length', 'start_date', 'rod_string_installation_date', 'rod_string_pulled_date', 'failure_date', 'low_wellbore_fluid_level_threshold', '_32', 'max_load', '_36', 'percent_uptime', '_38', 'avg_strokes_per_day', '_40']

ValueError: Length mismatch: Expected axis has 41 elements, new values have 17 elements

In [8]:
df.columns

Index(['Every well has been given a unique number.  Note that a single well will appear more than once if it has had more than one failure and repair.',
       'T.A. - Production equipment is removed, but may come back at a later time to setup for production.\n\nProducing - Active Well\n\nP.A. - Do not expect to ever produce again.',
       'Total depth of the wellbore.',
       'Length of the rodstring (rodstring includes the entire string in the wellbore and the pump assembly at the end) from surface to the bottom of the pump.',
       'Length of tubing from surface to bottom of tubing; the rodpump and string are housed inside the tubing.',
       'Day the well was initially drilled.',
       'For a given repair job, this is the day the rodstring was installed.',
       'This is the day the rodstring, from the job in column G, was pulled.  This is indicative of pump runtime from RUN to PULL.',
       'The number of days the pump ran (starting in Column G) to when it was pulled for repair (in column H)',
       'The date the components officialy failed (should fall within the interval of columns G and H).',
       'This is day the well was put on production (POP).  It will closely align with the date in Column G of the next row down.',
       'This is the day tubing is installed. Note that not all well failures require tubing to be pulled and re-installed.  "NA" means only the rodpump and rodstring were pulled, and nothing was done to the tubing.',
       'This is the day the tubing, from the job in column L, was pulled.  This is indicative of runtime from RUN to PULL.',
       '"1" = the failure required the tubing AND rods to be pulled\n"0" = the failure did not require the tubing to be pulled; only the rods',
       '"1" = At the time this data was pulled, the well had a logged failure event from the last time it was repaired.\n"0" = At the time this data was pulled, the well was running without failure since the last time it was repaired.',
       'When the well senses a low fluid level in the wellbore, the computer will shutoff the pump.  CPOSA is the the number of strokes that will occur (set by Operations) after the computer signals the shutoff.',
       'Unnamed: 16',
       'PIP is Pump Intake Pressure, which is the hydrostatic pressure of fluid ABOVE the pump.  A higher PIP is indicative of a higher total fluid rate. (This is in PSI or pounds per square inch)',
       'Unnamed: 18',
       'A cycle is the number of times that pump shuts off due to low wellbore fluid level within a 24-hour period.',
       'Unnamed: 20',
       'Fluid Load is the amount of load that is on your rodstring.  It is measured by a strain gauge at the surface, and in simple terms is the weight of the rodstring minus the buoyancy of the fluid in that the rodstring displaces. (This is in pound-force)',
       'Unnamed: 22',
       'This is the minimum amount of load that was measured on the most recent pump stroke when the data was collected. (This is in pound-force)',
       'Unnamed: 24',
       'This is the maximum amount of load that was measured on the most recent pump stroke at the time this data was collected. (This is in pound-force)',
       'Unnamed: 26',
       'Total travelling distance from highest point to lowest point in the stroke motion (this is in inches)',
       'Unnamed: 28',
       'This is the diameter of the downhole pump. (This is in inches)',
       'Unnamed: 30',
       'This is the low wellbore fluid level threshold (set by Operations) where the computer will send a signal to shutoff the pump. (This is in percentage)',
       'Unnamed: 32',
       'This is the maximum amount of load that was measured in the last 24-hrs worth of pump strokes at the time this data was collected. (This is in pound-force)',
       'Unnamed: 34',
       'This is the minimum amount of load that was measured in the last 24-hrs of pump strokes at the time this data was collected. (This is in pound-force)',
       'Unnamed: 36',
       'This is the percentage of uptime/runtime of the pump since the last time it was repaired and put on production. (This is in percentage)',
       'Unnamed: 38',
       'This is the average number of strokes per day of the pump since the last time it was repaired and put on production. (This is in number of strokes per day)',
       'Unnamed: 40'],
      dtype='object')

In [9]:
df

,Every well has been given a unique number. Note that a single well will appear more than once if it has had more than one failure and repair.,"T.A. - Production equipment is removed, but may come back at a later time to setup for production.\n\nProducing - Active Well\n\nP.A. - Do not expect to ever produce again.",Total depth of the wellbore.,Length of the rodstring (rodstring includes the entire string in the wellbore and the pump assembly at the end) from surface to the bottom of the pump.,Length of tubing from surface to bottom of tubing; the rodpump and string are housed inside the tubing.,Day the well was initially drilled.,"For a given repair job, this is the day the rodstring was installed.","This is the day the rodstring, from the job in column G, was pulled. This is indicative of pump runtime from RUN to PULL.",The number of days the pump ran (starting in Column G) to when it was pulled for repair (in column H),The date the components officialy failed (should fall within the interval of columns G and H).,...,This is the low wellbore fluid level threshold (set by Operations) where the computer will send a signal to shutoff the pump. (This is in percentage),Unnamed: 32,This is the maximum amount of load that was measured in the last 24-hrs worth of pump strokes at the time this data was collected. (This is in pound-force),Unnamed: 34,This is the minimum amount of load that was measured in the last 24-hrs of pump strokes at the time this data was collected. (This is in pound-force),Unnamed: 36,This is the percentage of uptime/runtime of the pump since the last time it was repaired and put on production. (This is in percentage),Unnamed: 38,This is the average number of strokes per day of the pump since the last time it was repaired and put on production. (This is in number of strokes per day),Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,364,Producing,6690,6379,6465.4,6/25/2015 22:00,7/2/2018 13:00,NaN,227,NaN,...,70,70.86010363,25287,23005.91099,6598,11746.01047,45,46.2513089,5018,5228.293301
3402,364,Producing,6690,6379,6465.4,6/25/2015 22:00,7/21/2015 15:00,6/28/2018 8:00,1045,5/31/2018 0:00,...,80,75.28368794,22159.5,21443.41016,7138.5,9022.800781,100,90.61523438,6957,6317.725058
3403,131,Producing,8490,6542,6717.3,7/17/2015 5:00,10/6/2016 9:00,NaN,861,NaN,...,70,70,20745,20517.35086,9022.5,9247.061125,43,58.17237164,4368,6038.416562
3404,131,Producing,8490,8132.5,8211.3,7/17/2015 5:00,8/14/2015 15:30,10/7/2015 16:00,54,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3405,131,Producing,8490,6542,6727.3,7/17/2015 5:00,12/9/2015 14:00,10/4/2016 15:00,273,9/7/2016 0:00,...,70,70,22265,22591.04962,6188.5,9616.339695,90.5,71.39312977,NaN,NaN